@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('vendor/MaterialIcons-Regular.eot'); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url('vendor/MaterialIcons-Regular.woff2') format('woff2'),
      url('vendor/MaterialIcons-Regular.woff') format('woff'),
      url('vendor/MaterialIcons-Regular.ttf') format('truetype');
  }

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

  body {
    background-image: url('../images/boston-university.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  footer {
    max-width: 1024px;
    margin: 0 auto;
  }

  nav {
    max-width: 1024px;
    margin: 0 auto;      
  }

  .screen-sign-out {
      display: none;
  }

  .container {
    width: 100%;
  }

  .screen-account {
    max-width: 1024px;
    background-color: rgba(255, 255, 255);
  }

  .quotes {
    font-style: italic;
  }

  .author {
    font-style: normal;
    font-weight: bold;
  }

  .no-opaque {
    background-color:rgba(255, 255, 255, 1);
  }